In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in g:\programs\anaconda\lib\site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in g:\programs\anaconda\lib\site-packages (from pymongo) (2.6.1)

In [2]:
import pymongo

In [5]:
# To connect to MongoDB server:
client = pymongo.MongoClient('localhost', 27017)

# Create Database:
db = client.mongodb_workshop

# Create Collection:
collection = db.collection["estudiantes"]

In [9]:
# One document:
doc_2 = [
    {"_id": 1, "nombre": "Alan", "apellido": "Ceballos", "edad" : "20", "Promedio" : "96"},
    {"_id": 2, "nombre": "Pablo", "apellido": "Escalante", "edad" : "21", "Promedio" : "95"},
    {"_id": 3, "nombre": "Andrea", "apellido": "Lizeth", "edad" : "22", "Promedio" : "97"},
    {"_id": 4, "nombre": "Ian", "apellido": "Reyes", "edad" : "26", "Promedio" : "95"},
    {"_id": 5, "nombre": "Karol", "apellido": "Mar", "edad" : "20", "Promedio" : "95"},
    {"_id": 6, "nombre": "Christopher", "apellido": "Ceballos", "edad" : "18", "Promedio" : "98"},
    {"_id": 7, "nombre": "Adrian", "apellido": "Sanchez", "edad" : "20", "Promedio" : "80"},
    {"_id": 8, "nombre": "Julian", "apellido": "Alvarez", "edad" : "19", "Promedio" : "95"},
    {"_id": 9, "nombre": "Alejandro", "apellido": "Perez", "edad" : "21", "Promedio" : "92"},
    {"_id": 10, "nombre": "Ivan", "apellido": "Garcia", "edad" : "22", "Promedio" : "85"}
]

In [10]:
# To insert multiple documents:
collection.insert_many(doc_2)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], acknowledged=True)