## Python básico

Materia: Fundamentos de Programación en Big Data

Alumno: Alan Ceballos Moreno

In [39]:
#Este es un comentario de una sola linea

"""Este  es un comentario multilinea
Puedo seguir escribiendo en esta linea"""

'Este  es un comentario multilinea\nPuedo seguir escribiendo en esta linea'

In [40]:
print("Este texto se imprime en pantalla")

Este texto se imprime en pantalla

In [41]:
print("Este texto tiene el simbolo\" dentro de mi texto")
print('Tambien puedo escribir texto """" con comillas simples')

Este texto tiene el simbolo" dentro de mi texto
Tambien puedo escribir texto """" con comillas simples

## Tipos de datos primitivos en Python

In [42]:
# Entero
dato_entero = -5
# Float (decimal)
dato_float = 5.12443543
#Cadena de Caracteres
dato_texto = "Este es un texto"
# Booleano
dato_booleano = True

In [43]:
print(dato_entero, dato_float, dato_texto, dato_booleano)

-5 5.12443543 Este es un texto True

## Tipos de datos con función type

In [44]:
print(type(dato_entero), type(dato_float), type(dato_texto), type(dato_booleano))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [45]:
Valor =2

valor =3

In [46]:
valor + Valor

5

In [47]:
valor - Valor

1

In [48]:
valor * Valor

6

In [49]:
valor / Valor

1.5

In [50]:
valor ** Valor

9

In [51]:
valor + Valor * valor

9

In [52]:
import math

math.sqrt(16)

4.0

In [53]:
import math

math.sqrt(169)

13.0

In [54]:
valor % Valor

1

## Entrada al usuario

In [56]:
# La función input solicita una entrada al usuario
edad = input ("Por favor escribe tu edad:")

Por favor escribe tu edad:19

In [57]:
print(edad)

19

In [59]:
edad = input("Escribe tu edad y yo calculo los dias que has vivido: ")
dias_vividos = int(edad) * 365
print("Has vivido", dias_vividos, "dias")

Escribe tu edad y yo calculo los dias que has vivido: 19
Has vivido 6935 dias

## Conversiones

In [60]:
datos="Sergio"

int(5.5)
float(5)

print(5//2)

2

## Operadores Logicos

In [61]:
a = 10 
b = 10
c = 9.99

print(a == b) #igual
print(a != b) #diferente
print(a < c) #menor que
print(a > c) #mayor que
print(a >= b) #mayor o igual que
print(c <= a) #menor o igual que

print( a == b and a == c)
print( a == b or a == c)
print( not (a == b) )

True
False
False
True
True
True
False
True
False

In [62]:
a = "5"
b = 5
c = 5.0
d = True
e = 1

print(a == b)
print(b == c)
print(a == c)
print(a == d)
print(d == e)
print(True == 5)

False
True
False
False
True
False

## Estructuras de control

In [63]:
a = 21
b = "Estados Unidos"

if a == 18 and b == "México": 
    print("Eres mayor de edad", b)
elif a >= 21 and b == "Japon": 
    print("Eres mayor de edad", b)
elif a >= 21 and b == "Estados Unidos": 
    print("Eres mayor de edad en", b)
else:
    print("No puede saber si eres mayor de edad")

Eres mayor de edad en Estados Unidos

Ejercicios 

Ejercicio 1: Programa que muestra en pantalla la cadena de texto ¡Hola Mundo!

Ejercicio 2: Programa que almacena la cadena ¡Hola Mundo! en una variable y luego muestra por pantalla el contenido de la variable

Ejercicio 3: Programa que pregunta el nobre del usuario en consola y despues por pantalla la cadena ¡Hola nombre! donde nombre es el nombre que el usuario introdujo

Ejercicio 4: Escribe un programa que pregunte el usuario po el numero de horas trabajadas y el costo por hora.Despues debe mostrar por pantalla la paga que corresponde

In [64]:
## Ejercicio 1: Programa que muestra en pantalla la cadena de texto ¡Hola Mundo!

print("Hola Mundo")

Hola Mundo

In [65]:
## Ejercicio 2: Programa que almacena la cadena ¡Hola Mundo! en una variable y luego muestra por pantalla el contenido de la variable
    
frase = ("Hola Mundo")
print(frase)

Hola Mundo

In [66]:
##Ejercicio 3: Programa que pregunta el nobre del usuario en consola y despues por pantalla la cadena ¡Hola nombre! donde nombre es el nombre que el usuario introdujo
frase = input("¿Cuál es tu nombre? ")
print("¡Hola " + frase + "!")

¿Cuál es tu nombre? Alan
¡Hola Alan!

In [67]:
##Ejercicio 4: Escribe un programa que pregunte el usuario por el numero de horas trabajadas y el costo por hora.Despues debe mostrar por pantalla la paga que corresponde

horas = float(input("¿Cuántas horas trabajaste? "))
costo = float(input("¿Cuál es el costo por hora? "))

pago = horas * costo

print("Tu paga correspondiente es: $" + str(pago))

¿Cuántas horas trabajaste? 10
¿Cuál es el costo por hora? 125
Tu paga correspondiente es: $1250.0

In [68]:
##Ejercicio 5: Programa que solicita al usuario un entero n y computa el valor de n + n^2 + n^3

x = int(input("Introduce un número entero: "))
resul = x + x**2 + x**3
print(f"El resultado de {x} + {x}^2 + {x}^3 es {resul}.")

Introduce un número entero: 10
El resultado de 10 + 10^2 + 10^3 es 1110.

In [4]:
##Ejercicio 6: Programa que calcula el volumen de una esfera con radio r
import math

x = float(input("Introduce el radio de la esfera: "))
volumen = (4/3) * math.pi * x**3
print(f"El volumen de la esfera es {volumen}.")

Introduce el radio de la esfera: 2.5
El volumen de la esfera con radio 2.5 es 65.44984694978736.

In [5]:
##Ejercicio 7: Programa que calcula el área de un triángulo
base = float(input("Introduce la base del triángulo: "))
altura = float(input("Introduce la altura del triángulo: "))

area = (base * altura) / 2

print(f"El área del triángulo es {area}.")

Introduce la base del triángulo: 5
Introduce la altura del triángulo: 3
El área del triángulo es 7.5.

In [69]:
## Ejercicio 8: Programa que regresa tu nombre de alumno escrito n veces
nombre = input("Introduce tu nombre: ")
x = int(input("Introduce el número de veces que quieres imprimir tu nombre: "))

for i in range(x):
    print(nombre)

Introduce tu nombre: Alan
Introduce el número de veces que quieres imprimir tu nombre: 10
Alan
Alan
Alan
Alan
Alan
Alan
Alan
Alan
Alan
Alan

In [7]:
## Ejercicio 9:Programa que resuelve la ecuación (x + y)^2
x = float(input("Ingrese el valor de x: "))
y = float(input("Ingrese el valor de y: "))

resultado = x**2 + 2*x*y + y**2


print("El resultado de la ecuación es:", resultado)

Ingrese el valor de x: 10
Ingrese el valor de y: 5
El resultado de la ecuación es: 225.0

In [8]:
## Ejercicio 10: Programa que calcula la distancia entre dos puntos (x1*y1) y (x2*y2)
import math

x1 = float(input("Ingrese la coordenada x1: "))
y1 = float(input("Ingrese la coordenada y1 "))
x2 = float(input("Ingrese la coordenada x2: "))
y2 = float(input("Ingrese la coordenada y2: "))

distancia = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print("La distancia entre los puntos es: ", distancia)

Ingrese la coordenada x1: 10
Ingrese la coordenada y1 15
Ingrese la coordenada x2: 20
Ingrese la coordenada y2: 15
La distancia entre los puntos es:  10.0

In [9]:
##Ejercicio 11: Programa que calcula el valor de la hipotenusa de un triángulo rectángulo
import math

c1 = float(input("Ingrese la longitud del primer cateto: "))
c2 = float(input("Ingrese la longitud del segundo cateto: "))


hipotenusa = math.sqrt(c1**2 + c2**2)

print("La hipotenusa del triángulo rectángulo es: ", hipotenusa)

Ingrese la longitud del primer cateto: 10
Ingrese la longitud del segundo cateto: 5
La hipotenusa del triángulo rectángulo es:  11.180339887498949

In [16]:
##Ejercicio 12: Programa que solicita al usuario un valor en metros y regresa la equivalencia en pulgadas, yardas y millas.

metros = float(input("Ingrese la longitud en metros: "))

pulgadas = metros * 39.37
yardas = metros * 1.09361
millas = metros * 0.000621371


print(metros, "Metros equivalen a", pulgadas,"Pulgadas")
print(metros, "Metros equivalen a", yardas,"Yardas")
print(metros, "Metros equivalen a", millas,"Millas")

Ingrese la longitud en metros: 100
100.0 Metros equivalen a 3936.9999999999995 Pulgadas
100.0 Metros equivalen a 109.36099999999999 Yardas
100.0 Metros equivalen a 0.0621371 Millas