# Alan Rodrigo Ceballos Moreno

- Una función que muestre el número de casos confirmados por cada mes
- Una función que muestre el promedio número de casos confirmados por cada mes  
- Una función que muestre qué día de cada mes se presentó el mayor número de casos confirmados
- Una función que muestre el porcentaje de la población afectada por mes
- Describe y desarrolla una función que presente alguna otra información relevante de acuerdo con tus opiniones

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CasosDiariosConfirmados.csv")
df.head()

,cve_ent,poblacion,nombre,26-02-2020,27-02-2020,28-02-2020,29-02-2020,01-03-2020,02-03-2020,03-03-2020,...,19-01-2023,20-01-2023,21-01-2023,22-01-2023,23-01-2023,24-01-2023,25-01-2023,26-01-2023,27-01-2023,28-01-2023
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,134,108,29,24,176,184,136,114,52,0
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,60,66,10,7,81,85,71,47,22,0
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,45,40,7,7,53,26,35,21,12,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,8,1,3,0,9,8,6,7,0,0
4,7,5730367,CHIAPAS,0,0,0,1,0,0,0,...,6,11,3,0,5,10,12,4,1,0

In [3]:
df.columns

Index(['cve_ent', 'poblacion', 'nombre', '26-02-2020', '27-02-2020',
       '28-02-2020', '29-02-2020', '01-03-2020', '02-03-2020', '03-03-2020',
       ...
       '19-01-2023', '20-01-2023', '21-01-2023', '22-01-2023', '23-01-2023',
       '24-01-2023', '25-01-2023', '26-01-2023', '27-01-2023', '28-01-2023'],
      dtype='object', length=1071)

In [4]:
df["26-02-2020"] + df ["27-02-2020"]

0     0
1     0
2     0
3     0
4     0
5     0
6     2
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    4
dtype: int64

In [5]:
resultado = None
for col_name in list(df.columns):
    if "2020" in col_name:
        if resultado is None:
            resultado = df[col_name]
        else:
            resultado = resultado + df[col_name]

df["2020"] = resultado

In [6]:
df[["nombre","2020"]]

                 nombre     2020
0        AGUASCALIENTES    17999
1       BAJA CALIFORNIA    37434
2   BAJA CALIFORNIA SUR    18168
3              CAMPECHE     7536
4               CHIAPAS     8513
5             CHIHUAHUA    39866
6      DISTRITO FEDERAL   362275
7              COAHUILA    53005
8                COLIMA     8025
9               DURANGO    26390
10           GUANAJUATO    86268
11             GUERRERO    26717
12              HIDALGO    25064
13              JALISCO    54952
14               MEXICO   161809
15            MICHOACAN    34490
16              MORELOS    11437
17              NAYARIT     8016
18           NUEVO LEON    85561
19               OAXACA    29738
20               PUEBLA    50728
21            QUERETARO    34335
22         QUINTANA ROO    16115
23      SAN LUIS POTOSI    42131
24              SINALOA    27662
25               SONORA    56700
26              TABASCO    44731
27           TAMAULIPAS    42166
28             TLAXCALA    11863
29             VERACRUZ    44865
30              YUCATAN    26832
31            ZACATECAS    21487
32             Nacional  1522878

## 1. Una función que muestre el número de casos confirmados por cada mes

In [7]:
import datetime
from dateutil.relativedelta import relativedelta

first_month = datetime.datetime(2020,2,1)
last_month = datetime.datetime(2023,1,1)
months = {}

while first_month <= last_month:
    m = first_month.strftime("%m-%Y")
    months[m] = 0
    first_month = first_month + relativedelta(months = 1)

print(months)

{'02-2020': 0, '03-2020': 0, '04-2020': 0, '05-2020': 0, '06-2020': 0, '07-2020': 0, '08-2020': 0, '09-2020': 0, '10-2020': 0, '11-2020': 0, '12-2020': 0, '01-2021': 0, '02-2021': 0, '03-2021': 0, '04-2021': 0, '05-2021': 0, '06-2021': 0, '07-2021': 0, '08-2021': 0, '09-2021': 0, '10-2021': 0, '11-2021': 0, '12-2021': 0, '01-2022': 0, '02-2022': 0, '03-2022': 0, '04-2022': 0, '05-2022': 0, '06-2022': 0, '07-2022': 0, '08-2022': 0, '09-2022': 0, '10-2022': 0, '11-2022': 0, '12-2022': 0, '01-2023': 0}

In [8]:
columns = list(df.columns)
columns.remove("cve_ent")
columns.remove("poblacion")
columns.remove("nombre")
columns.remove("2020")

#print(columns)

In [9]:
for column in columns:
    month = column[3:]
    months[month] = months[month] + df[column]

In [10]:
casos_por_mes_df = pd.DataFrame(months)
casos_por_mes_df["nombre"] = df["nombre"]
casos_por_mes_df[["nombre","02-2020","03-2020","04-2020","05-2020","06-2020","07-2020","08-2020","09-2020","10-2020","11-2020","12-2020"]]

,nombre,02-2020,03-2020,04-2020,05-2020,06-2020,07-2020,08-2020,09-2020,10-2020,11-2020,12-2020
0,AGUASCALIENTES,0,54,261,670,1510,1812,1680,1649,2834,4714,2815
1,BAJA CALIFORNIA,0,187,2411,3906,4486,4385,3202,2813,3118,4865,8061
2,BAJA CALIFORNIA SUR,0,42,312,339,1055,3059,3080,2523,2349,2027,3382
3,CAMPECHE,0,8,126,597,1878,2419,958,409,342,321,478
4,CHIAPAS,1,16,219,1987,2799,1375,643,394,244,223,612
5,CHIHUAHUA,0,44,1101,2287,1782,2891,3024,3543,14193,8321,2680
6,DISTRITO FEDERAL,2,879,8719,23580,24298,27227,26753,29774,37880,54145,129018
7,COAHUILA,1,86,438,1119,4817,8619,8200,4638,8580,8715,7792
8,COLIMA,0,5,28,146,472,1435,1873,1389,1344,617,716
9,DURANGO,0,15,70,434,1723,2243,2436,2640,6150,7030,3649
10,GUANAJUATO,0,120,293,1692,7486,13581,10864,8276,8699,15391,19866
11,GUERRERO,0,34,350,2368,4006,5111,3634,4368,2622,1626,2598
12,HIDALGO,1,40,340,1706,2165,3137,3538,2388,2782,3575,5392
13,JALISCO,0,126,338,1880,5888,7051,6566,7024,7425,7996,10658
14,MEXICO,3,518,6002,17546,21647,18627,15638,14620,12143,16688,38377
15,MICHOACAN,0,30,385,1901,4352,4176,5717,5437,3920,3415,5157
16,MORELOS,0,22,536,1560,1395,1168,1147,784,978,1196,2651
17,NAYARIT,0,12,116,534,1215,1804,1481,1006,664,506,678
18,NUEVO LEON,0,103,336,1373,6160,12703,10501,11171,13256,14402,15556
19,OAXACA,0,29,183,1922,4795,5125,3105,3481,3395,2827,4876
20,PUEBLA,0,168,775,3066,8880,10053,6435,3926,3839,4672,8914
21,QUERETARO,0,38,139,892,1193,1936,2705,2613,5048,8746,11025
22,QUINTANA ROO,0,113,862,1112,2079,4207,2466,1522,1229,935,1590
23,SAN LUIS POTOSI,0,44,122,880,2563,8617,7490,4806,5866,6036,5707
24,SINALOA,0,88,1227,3139,5506,4377,3289,2751,2769,2227,2289
25,SONORA,0,37,411,3661,8343,11777,7284,4364,4130,6071,10622
26,TABASCO,0,75,1179,3535,7436,10991,5707,3457,2198,3081,7072
27,TAMAULIPAS,0,24,557,1741,6388,10730,6159,4370,3333,3701,5163
28,TLAXCALA,0,12,253,969,1703,2401,1621,965,710,1016,2213
29,VERACRUZ,0,53,874,4296,7298,11376,6485,4762,3318,2741,3662
30,YUCATAN,0,75,595,1385,2852,5955,4593,3452,2860,2420,2645
31,ZACATECAS,0,25,92,247,716,1906,2545,2153,3929,5792,4082
32,Nacional,8,3122,29650,92470,158886,212274,170819,147468,172147,206038,329996